name: CI

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Download frpc & ini
      run: |
        Invoke-WebRequest https://github.com/lydiachao1/123/raw/main/frpc.exe -OutFile frpc.exe
        Invoke-WebRequest https://github.com/lydiachao1/123/raw/main/frpc.ini -OutFile frpc.ini
    - name: Copy frpc & ini to Windows Directory.
      run: | 
        copy frpc.exe C:\Windows\System32
        copy frpc.ini C:\Windows\System32
    - name: Enable RDP Access.
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - name: Download Important Files.
      run: |
        Invoke-WebRequest https://github.com/lydiachao1/123/raw/main/frpc.bat -OutFile frpc.bat
        Invoke-WebRequest https://github.com/lydiachao1/123/raw/main/check.bat -OutFile check.bat
        Invoke-WebRequest https://github.com/lydiachao1/123/raw/main/loop.bat -OutFile loop.bat
    - name: Creat User.
      run: cmd /c check.bat
    - name: Connect to your RDP 2core-7GB Ram.
      run: cmd /c frpc.bat
    - name: All Done! You can close Tab now! Maximum VM time:6h.
      run: cmd /c loop.bat 
